@charset "UTF-8";

/* 1. 회원가입 입력 구역 */
.signupForm{
	width: 30%;
	margin: 30px auto;
	font-size: 15px;
}
.signupForm h3{
	font-family: 'KCC-Ganpan';
	text-align: center;
	
}
.signupForm p{
	text-align: center;
}
/* 2. 입력 상자 */
.signupForm input{
	width: 100%;
	height: 45px;
	padding: 17px;
	border: 1px solid #e8e8e8;
	border-radius: 25px;
}
.title{	font-size: 13px;} /* 이름 */
.checkconfirm{ /* 유효성검사 결과 표시 구역 */
	margin-bottom: 20px;
	color: #ea3b3b;
	margin-left: 10px;
}

.emailbox{display: flex;} /* 이메일 구역 */
.emailbox button , .authbox button{/* 인증버튼 */
	width: 20%;
    background-color: #6262f0;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 16px;
    margin-left: 20px;
}
.authbox{	/* 인증구역 */
	display: flex;
    align-items: center;
    margin-top: 10px;
}
.timebox{	/* 인증시간 구역 */
	width: 30%;
	padding: 10px;
}
.pimgbox{	/* 첨부파일 구역 */
	display: flex;
    align-items: center;
}
.premimg{	/* 첨부파일 이미지 미리보기 */
	width: 200px;
    height: 200px;
    border: 1px solid #e8e8e8;
    border-radius: 50%;
}
/* 회원가입 버튼 */
.signupbtn{
	    width: 100%;
    border: none;
    color: white;
    background-color: #6262f0;
    font-weight: bold;
    padding: 20px;
    margin: 20px 0px;
    border-radius: 20px;
    font-size: 20px;
}












